$blue: rgb(0, 153, 255);
$cloudgray: lightgray;
$thundergray: rgb(128, 127, 127);


//style van login pagina
body{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.logo{
    text-align: center;
    margin-top: 5em;
}

.logo img{
    width: 30%;
}

.logo h1{
    font-weight: bold;
}

.logo .bold{
    font-weight: bold;
}

.btn{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 3em;
    background-color: $blue;
    border-radius: 0.4em;
    color: white;
}

.btn--white{
    color: black;
    background-color: $cloudgray;
}

.start{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    padding-right: 5em;
}


//style van signin form

.signin{
    margin-bottom: 1em;
}

.header--signin{
    text-align: center;
    background-color: $blue;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.header--signin .title{
    margin: 0;
    color: white;
    padding: 4em;
}

.form--signin{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.form--signin .input{
    margin-bottom: 1em;
}

.form--signin .btn{
    border: none;
}

.input{
    border: none;
    background-color: $cloudgray;
    padding: 1em 0.5em;
    border-radius: 0.8em;
}

.link{
    text-align: center;
}

.link a{
    text-decoration: none;
    color: $thundergray;
    font-size: 1.5em;
    font-weight: bold;
}