$blue: rgb(0, 153, 255);
$hoverblue: rgb(0, 108, 180);
$cloudgrey: lightgray;
$thundergrey: rgb(128, 127, 127);
$inputradius: 0.8em;
$headerradius: 1em;

//algemene style
.btn{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 3em;
    background-color: $blue;
    border-radius: 0.4em;
    color: white;
}

.btn:hover{
    background-color: $hoverblue;
}

.btn--white{
    color: black;
    background-color: $cloudgrey;
}

.btn--white:hover{
    background-color: $thundergrey;
}

.input{
    border: none;
    background-color: $cloudgrey;
    padding: 1em 0.5em;
    border-radius: $inputradius;
}

.link{
    text-align: center;
}

.link a{
    text-decoration: none;
    color: $thundergrey;
    font-size: 1.5em;
    font-weight: bold;
}

.link a:hover{
    color: black;
}

//style van login pagina
body{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.logo{
    text-align: center;
    margin-top: 5em;
}

.logo img{
    width: 30%;
}

.logo h1{
    font-weight: bold;
}

.logo .bold{
    font-weight: bold;
}


.start{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    padding-right: 5em;
}


//style van signin form
.signin{
    margin-bottom: 1em;
}

.header--signin{
    text-align: center;
    background-color: $blue;
    border-bottom-left-radius: $headerradius;
    border-bottom-right-radius: $headerradius;
}

.header--signin .title{
    margin: 0;
    color: white;
    padding: 4em;
}

.form--signin{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.form--signin .input{
    margin-bottom: 1em;
}

.form--signin .btn{
    border: none;
}



//style van de signup page
.header--signup{
    text-align: center;
    background-color: $blue;
    padding: 2em;
    border-bottom-right-radius: $headerradius;
    border-bottom-left-radius: $headerradius;
}

.header--signup h1{
    color: white;
}

.form--signup{
    display: flex;
    flex-direction: column; 
    padding: 2em;
}

.form--signup .input{
    margin-bottom: 1em;
}

.form--signup .btn{
    border: none;
}


