.btn {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 3em;
  background-color: #0099ff;
  border-radius: 0.4em;
  color: white;
}

.btn:hover {
  background-color: #006cb4;
}

.btn--white {
  color: black;
  background-color: lightgray;
}

.btn--white:hover {
  background-color: #807f7f;
}

.input {
  border: none;
  background-color: lightgray;
  padding: 1em 0.5em;
  border-radius: 0.8em;
}

.link {
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #807f7f;
  font-size: 1.5em;
  font-weight: bold;
}

.link a:hover {
  color: black;
}

.navigation {
  background-color: #f3f3f3;
  padding-left: 2em;
  display: none;
}

.nav {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.nav img {
  width: 40px;
}

.navItem {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 0.5em;
}

.navItem:hover {
  color: #006cb4;
  font-size: 1.3em;
}

.navItem__active {
  color: #0099ff;
  font-weight: bold;
  font-size: 1.3em;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

.logo {
  text-align: center;
  margin-top: 5em;
}

.logo img {
  width: 30%;
}

.logo h1 {
  font-weight: bold;
}

.logo .bold {
  font-weight: bold;
}

.start {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 5em;
  padding-right: 5em;
}

.signin {
  margin-bottom: 1em;
}

.header--signin {
  text-align: center;
  background-color: #0099ff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.header--signin .title {
  margin: 0;
  color: white;
  padding: 4em;
}

.form--signin {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.form--signin .input {
  margin-bottom: 1em;
}

.form--signin .btn {
  border: none;
}

.header--signup {
  text-align: center;
  background-color: #0099ff;
  padding: 2em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.header--signup h1 {
  color: white;
}

.form--signup {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.form--signup .input {
  margin-bottom: 1em;
}

.form--signup .btn {
  border: none;
}

.header--feed {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
}

.header--feed .coins {
  margin-left: auto;
  margin-right: 1em;
  background-color: #0099ff;
  border-radius: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header--feed .coins h3 {
  color: white;
  margin: 0.5em 1em;
}

.balance {
  padding-left: 2em;
}

.balance h4 {
  color: #807f7f;
  margin-bottom: 0.5em;
}

.balance h1 {
  font-size: 2em;
  margin-top: 0;
}

.transactions {
  background-color: lightgray;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
  padding: 1em;
}

.transactions h3 {
  margin-top: 0;
  color: #807f7f;
}

.transaction {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 40% 60%;
  margin-bottom: 1em;
}

.transaction img {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}

.transaction .user {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
}

.transaction .description {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
}

.transaction .amount {
  grid-column: 3/4;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  color: black;
}

.user .name {
  font-weight: bold;
}

.header--transfer {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
}

.header--transfer .coins {
  margin-left: auto;
  margin-right: 1em;
  background-color: #0099ff;
  border-radius: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

.transfer--info h2 {
  text-align: center;
}

.form--transfer {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.form--transfer .input {
  margin-bottom: 1em;
}

.form--transfer .btn {
  border: none;
}

.title__leaderboard {
  text-align: center;
}

.leaderboard {
  text-align: center;
  background-color: lightgray;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
}

.leaderboard .list {
  list-style: none;
  padding: 0;
}

.leaderboard .list .person .name {
  margin-right: 1em;
}

.leaderboard .list .person .coins {
  margin-left: 1em;
  font-weight: bold;
  color: #0099ff;
}